.breadcrumbs {
    height: 100%;
    width: 100%;

    .breadcrumb {
        margin: 0px;

        li {
            padding-left: 10px;
            display: flex;
            align-items: center;
        }
    }
}